/*desktop*/
@media screen and (min-width: 1536px) {
	body {
		width: 1536px;
		box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.5);
	}
}

html {
	background-color: #73FFE3;
}

body {
    overflow: hidden;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
	height: 864px;
    background-color: #3A3642;
    display: flex;
    align-items: stretch;
}

.me-img {
    position: absolute;
    top: 0;
    width: 541px;
    height: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.container {
    min-width: 100%;
    min-height: 100%;
    height: auto !important;
    position: relative;
    display: flex;
    top: 0;
    left: 0;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 50%;
}

.text-content {
    flex: 50%;
}

.hello-text {
    position: absolute;
    width: 432px;
    height: 106px;
    left: 708px;
    top: 72px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;

    letter-spacing: 0.2em;

    color: #73FFE3;
}

.me-text {
    position: absolute;
    width: 777px;
    height: 313px;
    left: 708px;
    top: 141px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;

    letter-spacing: 0.2em;

    color: #AB73FF;
}

.me-text-2 {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.about-text {
    position: absolute;
    width: 650px;
    height: 245px;
    left: 708px;
    top: 280px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 64px;
    /* or 200% */

    letter-spacing: 0.1em;

    color: #73FFE3;
}

.project-text {
    position: absolute;
    width: 761px;
    height: 127px;
    left: 708px;
    top: 542px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;

    letter-spacing: 0.1em;

    color: #73FFE3;
}

a {
    text-decoration: none;
}

a:hover {
    color: #73FFE3;
    text-decoration: none;
}

.custom-underline {
    position: relative;
    display: inline-block;
    font-weight: 700;
    text-align: center;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;

    letter-spacing: 0.1em;

    color: #73FFE3;
}

.custom-underline::after {
    content: "";
    position: absolute;
}

.project-link .custom-underline::after {
    top: 42px;
    height: 2px !important;
    width: 35%;
    left: 2px;
    background-color: #73FFE3;
    transition: 0.4s ease-out all .1s;
  }
  
.project-link:hover .custom-underline::after {
    width: 91%;
    left: 2px;
    transition: 0.5s ease all;
}

.project-link {
    position: absolute;
    width: 160px;
    height: 35px;
    left: 968px;
    top: 542px;
}

.cv-image {
    position: absolute;
    width: 49px;
    height: 65px;
    left: 715px;
    top: 632px;
}

.cv-image-2 {
    width: 130%;
    height: 130%;
}

/*mobile*/
